conda install -c conda-forge backports.weakref
conda install -c conda-forge bleach
conda install -c anaconda boto
conda install -c anaconda bz2file
conda install -c anaconda certifi
conda install -c anaconda chardet
conda install -c anaconda enum34
conda install -c anaconda gensim
conda install -c anaconda h5py
conda install -c anaconda html5lib
conda install -c anaconda idna
conda install -c conda-forge keras
conda install -c anaconda markdown
conda install -c anaconda numpy
conda install -c anaconda protobuf
conda install -c anaconda python-dateutil
conda install -c anaconda pytz
conda install -c anaconda pyyaml
conda install -c anaconda requests
conda install -c anaconda scikit-learn
conda install -c anaconda scipy
conda install -c anaconda six
conda install -c anaconda smart_open
conda install -c conda-forge tensorflow
conda install -c anaconda urllib3
conda install -c anaconda werkzeug
conda install -c anaconda nltk
